{% extends 'layout.html' %}

{% block title %}
<title>Detalles de dentista</title>
{% endblock %}

{% block content %}
<h1>{{ dentista.nombre }} {{ dentista.apellido  }}</h1>

<p><strong>Genero:</strong> {{ practicante.get_genero_display }}</p>
<p><strong>Telefono:</strong> {{ practicante.telefono }}</p>
<p><strong>Cualificación:</strong> {{ practicante.cualificacion }}</p>

<button type="button"
        class="btn btn-primary"
        onclick=window.location.href='{% url "practicante_update" practicante.id %}'>
  Editar
</button>

<button type="button" class="btn btn-danger" data-bs-toggle="modal"
  data-bs-target="#confirmDeleteModal{{ practicante.id }}">
  Eliminar
</button>

<div class="modal fade" id="confirmDeleteModal{{ practicante.id }}" tabindex="-1"
  aria-labelledby="confirmDeleteModalLabel{{ practicante.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel{{ practicante.id }}">Confirmar eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        ¿Está seguro que desea eliminar a"<strong>{{ practicante.nombre }} {{ practicante.apellido  }}</strong>"?
      </div>

      <div class="modal-footer">
        <form method="post" action="{% url 'practicante_delete' practicante.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

<a href="{% url 'practicantes_list' %}">← Atrás</a>
{% endblock %}