{% extends 'layout.html' %}
{% load split_filters %}

{% block title %}
   <title>Lista de procedimientos</title>
{% endblock %}

{% block content %}

<!-- Columna principal -->
<div class="procedimientos-page">
  <div class="procedimientos-main">
    <h1 class="procedimientos-header">{{title}}</h1>

    {% if procedimientos %}
      {% for proc in procedimientos %}
        <a href="{% url 'procedimiento_detail' proc.id %}" class="procedimiento-item">
          <!-- Descripción -->
          <div class="procedimiento-desc">
            {{ proc.codigo.text|split:";"|first }}
          </div>
          <!-- Datos -->
          <div class="procedimiento-meta">
            {# Aquí pones el campo que necesites, e.g. el DNI o código del paciente/practicante #}
            <div class="procedimiento-codigo">
              {{ proc.codigo.codigo |  default:"—" }}
            </div>
            <div class="procedimiento-fecha">
              {{ proc.realizado_el|date:"d-m-Y" }}
            </div>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p>No hay procedimientos registrados.</p>
    {% endif %}
  </div>

  <!-- Sidebar de exportar -->
  <aside class="procedimientos-sidebar">
    <form method="get" action="{% url 'procedimiento_export_rdf' %}">
      {% csrf_token%}
      <button type="submit" class="btn btn-primary btn-exportar">
        Exportar
      </button>
    </form>
  </aside>
</div>

{% endblock %}
