{% extends 'layout.html' %}

{% block title %}
   <title>Importar archivos RDF</title>
{% endblock %}

{% block content %}
<div class="container mt-5"></div>
  <h2>{{ title | default:"Form" }}</h2>
  <div class="card shadow-sm">
    <div class="card-body p-4">
      <form id="upload-form"
            method="post"
            enctype="multipart/form-data"
            class="needs-validation"
            novalidate>
        {% csrf_token %}
        
      <div class="mb-3">
        <label for="id_rdf_file" class="form-label">
          {{ form.rdf_file.label }}
        </label>
        <label id="file-drop-zone" class="file-drop-zone" for="id_rdf_file">
            <p>Arrastra y suelta aquí o haz clic para escoger</p>
        </label>
          <!-- Input REAL, pero oculto -->
          {{ form.rdf_file }}
        <div class="invalid-feedback">
          Por favor selecciona un archivo antes de continuar.
        </div>
      </div>

        <!-- Lista de ficheros seleccionados -->
      <ul id="file-list" class="list-group file-list"></ul>

      <!-- Botón de envío -->
      <div class="mt-4 text-end">
        <button type="submit" class="btn btn-accent">
          Importar
        </button>
      </div>
    </form>
  </div>
</div>


{% if form.errors %}
  <div class="alert alert-danger">
    <strong>Error!</strong> Please correct the errors below.
  </div>
{% endif %}

{% endblock %}