{% extends 'layout.html' %}

{% block title %}
<title>Show Page</title>
{% endblock %}

{% block content %}
<h1>{{ paciente.nombre }} {{ paciente.apellido  }}</h1>

<p><strong>Genero:</strong> {{ paciente.get_genero_display }}</p>
<p><strong>Telefono:</strong> {{ paciente.telefono }}</p>
<p><strong>Fecha de nacimiento:</strong> {{ paciente.fecha_nacimiento }}</p>
<p><strong>Direccion:</strong> {{ paciente.direccion }}</p>
<p><strong>Estado civil:</strong> {{ paciente.get_estado_civil_display }}</p>

<button type="button"
        class="btn btn-primary"
        onclick=window.location.href='{% url "paciente_update" paciente.id %}'>
  Editar
</button>

<button type="button"
        class="btn btn-secondary"
        onclick=window.location.href='{% url "exportar_paciente" paciente.id %}'>
  Exportar
</button>

<button type="button" class="btn btn-danger" data-bs-toggle="modal"
  data-bs-target="#confirmDeleteModal{{ paciente.id }}">
  Eliminar
</button>

<div class="modal fade" id="confirmDeleteModal{{ paciente.id }}" tabindex="-1"
  aria-labelledby="confirmDeleteModalLabel{{ paciente.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel{{ paciente.id }}">Confirmar eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        ¿Está seguro que desea eliminar a"<strong>{{ paciente.nombre }} {{ paciente.apellido  }}</strong>"?
      </div>

      <div class="modal-footer">
        <form method="post" action="{% url 'paciente_delete' paciente.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

<a href="{% url 'pacientes_list' %}">← Atrás</a>
{% endblock %}